In [3]:
import pandas as pd

## Data loading

For this task we will use 6 dataframes that include Airlines/Flight information. Each of them has a binary target variable. In the first part we will analyze the data, check column types, missing values, identify targets etc.

In [8]:
df1 = pd.read_csv("..//data//airlines_delay.csv")
df2 = pd.read_csv("..//data//Airlines.csv")
df3 = pd.read_csv("..//data//British_airways.csv")
df4 = pd.read_csv("..//data//Combined_Flights_2018.csv")
df5 = pd.read_csv("..//data//flight_delay_predict.csv")
df6 = pd.read_csv("..//data//full_data_flightdelay.csv")

### Quick data overview

Target identification:

In [13]:
df1.head(2) # target = Class (int)

   Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0  2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1  6948.0   360.0   146.0      OO         COS       ORD          4      0

In [14]:
df2.head(1) # target = Delay (int)

   id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0   1      CO     269         SFO       IAH          3    15     205      1

In [17]:
df3.head(1) #target = Recommended (yes, no))

,Unnamed: 0,Date,Rating,Header,Status,Description,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value For Money,Wifi & Connectivity,Recommended
0,0,23rd February 2024,1,"""no better than the worst of the low cost""",Trip Verified,✅ Trip Verified | That was supposed to be my ...,NaN,Couple Leisure,Economy Class,Pisa to London Heathrow,September 2023,NaN,NaN,NaN,NaN,NaN,1,NaN,no

In [20]:
df4.head(1) #target = Cancelled (bool)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0

In [23]:
df5.head(1) # target = is_delay (float)

,is_delay,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime
0,1.0,2014,1,1,1,3,2014-01-01,UA,LAX,CA,ORD,IL,900,0.0,0.0,1744.0,7,43.0,43.0,218.0

In [29]:
df6.head(1) # target = DEP_DEL15 (int 0-1)

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91