In [1]:
import pandas as pd

TODO : zmienic nazwy wszystkich targetów na 'target' + train test split do nowego folderu

## Data loading

For this task we will use 6 dataframes that include Airlines/Flight information. Each of them has a binary target variable. In the first part we will analyze the data, check column types, missing values, identify targets etc.

In [29]:
df1 = pd.read_csv("..//data//airlines_delay.csv")
df2 = pd.read_csv("..//data//Airline Quality Ratings.csv") 
df3 = pd.read_csv("..//data//British_airways.csv")
df4 = pd.read_csv("..//data//Combined_Flights_2018.csv")
df5 = pd.read_csv("..//data//flight_delay_predict.csv")
df6 = pd.read_csv("..//data//full_data_flightdelay.csv")

### Quick data overview + target column rename

#### df1

In [3]:
df1.head(2) # target = Class (int)

   Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0  2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1  6948.0   360.0   146.0      OO         COS       ORD          4      0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539382 entries, 0 to 539381
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Flight       539382 non-null  float64
 1   Time         539382 non-null  float64
 2   Length       539382 non-null  float64
 3   Airline      539382 non-null  object
 4   AirportFrom  539382 non-null  object
 5   AirportTo    539382 non-null  object
 6   DayOfWeek    539382 non-null  int64
 7   Class        539382 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 32.9+ MB

We don't have missing values and columns to drop

#### df2

In [31]:
df2.head(1) #target = Satisfaction (category)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied

In [32]:
df2['Satisfaction'].nunique()

2

#### df3

In [19]:
df3.head(1) #target = Recommended (yes, no))

,Unnamed: 0,Date,Rating,Header,Status,Description,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value For Money,Wifi & Connectivity,Recommended
0,0,23rd February 2024,1,"""no better than the worst of the low cost""",Trip Verified,✅ Trip Verified | That was supposed to be my ...,NaN,Couple Leisure,Economy Class,Pisa to London Heathrow,September 2023,NaN,NaN,NaN,NaN,NaN,1,NaN,no

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1000 non-null   int64
 1   Date                    1000 non-null   object
 2   Rating                  1000 non-null   int64
 3   Header                  1000 non-null   object
 4   Status                  1000 non-null   object
 5   Description             1000 non-null   object
 6   Aircraft                533 non-null    object
 7   Type Of Traveller       998 non-null    object
 8   Seat Type               1000 non-null   object
 9   Route                   997 non-null    object
 10  Date Flown              1000 non-null   object
 11  Seat Comfort            913 non-null    float64
 12  Cabin Staff Service     906 non-null    float64
 13  Food & Beverages        788 non-null    float64
 14  Inflight Entertainment  523 non-null    float64
 15  Ground Service          943 non-null    float64
 16  Value For Money         1000 non-null   int64
 17  Wifi & Connectivity     295 non-null    float64
 18  Recommended             1000 non-null   object
dtypes: float64(6), int64(3), object(10)
memory usage: 148.6+ KB

In [23]:
df3.drop(columns=['Unnamed: 0'])

,Date,Rating,Header,Status,Description,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value For Money,Wifi & Connectivity,Recommended
0,23rd February 2024,1,"""no better than the worst of the low cost""",Trip Verified,✅ Trip Verified | That was supposed to be my ...,NaN,Couple Leisure,Economy Class,Pisa to London Heathrow,September 2023,NaN,NaN,NaN,NaN,NaN,1,NaN,no
1,21st February 2024,10,"""could not have been better""",Trip Verified,✅ Trip Verified | Have no fear when your BA f...,A320,Couple Leisure,Business Class,Malaga to London Heathrow,February 2024,5.0,5.0,5.0,NaN,4.0,4,NaN,yes
2,17th February 2024,3,"""Never again""",Not Verified,Not Verified | We have flown BA five times fr...,A350,Couple Leisure,Economy Class,Phoenix to Lisbon via London,February 2024,1.0,5.0,3.0,3.0,1.0,1,1.0,no
3,17th February 2024,3,"""Is this how low BA has fallen?""",Trip Verified,✅ Trip Verified | London Heathrow to Istanbul...,A320,Solo Leisure,Economy Class,London to Istanbul,February 2024,3.0,1.0,1.0,NaN,2.0,2,NaN,no
4,16th February 2024,2,“It was a terrible experience”,Not Verified,"Not Verified | Jan 30th, I booked a last-minut...",Boeing 777,Solo Leisure,Premium Economy,"Austin, TX to Shannon, Ireland via Austin",January 2024,3.0,5.0,3.0,3.0,4.0,2,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9th March 2019,10,"""service is of good quality""",Trip Verified,✅ Trip Verified | London Heathrow to Madrid. I...,A320,Business,Economy Class,London Heathrow to Madrid,March 2019,5.0,5.0,NaN,NaN,5.0,5,NaN,yes
996,9th March 2019,1,"""effectively a low cost airline""",Trip Verified,✅ Trip Verified | Gatwick to St Lucia return....,Boeing 777,Couple Leisure,Business Class,Gatwick to St Lucia,February 2019,2.0,1.0,1.0,1.0,3.0,1,1.0,no
997,8th March 2019,9,"""a very pleasant flight""",Trip Verified,✅ Trip Verified | It's been many years since ...,Boeing 777,Business,Economy Class,London to Austin,February 2019,4.0,5.0,3.0,4.0,5.0,4,NaN,yes
998,7th March 2019,5,"""The most miserable rip off""",Trip Verified,✅ Trip Verified | \r\nLondon Heathrow / Pisa r...,A320,Family Leisure,Business Class,London to Pisa,March 2019,1.0,4.0,2.0,NaN,3.0,1,NaN,no
999,4th March 2019,3,"""planes are ancient""",Trip Verified,✅ Trip Verified | Edinburgh to Boston via Lond...,B777,Couple Leisure,Economy Class,Edinburgh to Boston via London,March 2019,1.0,2.0,1.0,1.0,1.0,1,NaN,no

#### df4

In [25]:
df4.head(1) #target = DepDel15 (float 0-1)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0

#### df5

In [27]:
df5.head(1) # target = is_delay (float)

,is_delay,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime
0,1.0,2014,1,1,1,3,2014-01-01,UA,LAX,CA,ORD,IL,900,0.0,0.0,1744.0,7,43.0,43.0,218.0

#### df6

In [28]:
df6.head(1) # target = DEP_DEL15 (int 0-1)

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91