In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

## Data loading

For this task we will use 6 dataframes that include Airlines/Flight information. Each of them has a binary target variable. In the first part we will analyze the data, check column types, missing values, identify targets etc.

In [2]:
df1 = pd.read_csv("..//data//airlines_delay.csv")
df2 = pd.read_csv("..//data//Airline Quality Ratings.csv") 
df3 = pd.read_csv("..//data//British_airways.csv")
df4 = pd.read_csv("..//data//Combined_Flights_2018.csv")
df5 = pd.read_csv("..//data//flight_delay_predict.csv")
df6 = pd.read_csv("..//data//full_data_flightdelay.csv")

## Quick data overview

In this part we will just identify targets (rename target-column in every dataframe), perform sampling if needed

#### df1

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539382 entries, 0 to 539381
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Flight       539382 non-null  float64
 1   Time         539382 non-null  float64
 2   Length       539382 non-null  float64
 3   Airline      539382 non-null  object
 4   AirportFrom  539382 non-null  object
 5   AirportTo    539382 non-null  object
 6   DayOfWeek    539382 non-null  int64
 7   Class        539382 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 32.9+ MB

In [4]:
df1.head(2) # target = Class (int)

   Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0  2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1  6948.0   360.0   146.0      OO         COS       ORD          4      0

In [5]:
df1 = df1.rename(columns={'Class':'target'})

#### df2

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [7]:
df2.head(1) #target = Satisfaction (category)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied

In [8]:
df2 = df2.rename(columns={'Satisfaction':'target'})

#### df3

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1000 non-null   int64
 1   Date                    1000 non-null   object
 2   Rating                  1000 non-null   int64
 3   Header                  1000 non-null   object
 4   Status                  1000 non-null   object
 5   Description             1000 non-null   object
 6   Aircraft                533 non-null    object
 7   Type Of Traveller       998 non-null    object
 8   Seat Type               1000 non-null   object
 9   Route                   997 non-null    object
 10  Date Flown              1000 non-null   object
 11  Seat Comfort            913 non-null    float64
 12  Cabin Staff Service     906 non-null    float64
 13  Food & Beverages        788 non-null    float64
 14  Inflight Entertainment  523 non-null    float64
 15  Ground Service          943 non-null    float64
 16  Value For Money         1000 non-null   int64
 17  Wifi & Connectivity     295 non-null    float64
 18  Recommended             1000 non-null   object
dtypes: float64(6), int64(3), object(10)
memory usage: 148.6+ KB

In [10]:
df3.head(1) #target = Recommended (yes, no))

,Unnamed: 0,Date,Rating,Header,Status,Description,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value For Money,Wifi & Connectivity,Recommended
0,0,23rd February 2024,1,"""no better than the worst of the low cost""",Trip Verified,✅ Trip Verified | That was supposed to be my ...,NaN,Couple Leisure,Economy Class,Pisa to London Heathrow,September 2023,NaN,NaN,NaN,NaN,NaN,1,NaN,no

In [11]:
df3 = df3.rename(columns={'Recommended':'target'})
df3 = df3.drop(columns=['Unnamed: 0'])

#### df4

In [12]:
df4.info() #very large df, we will take a sample

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689512 entries, 0 to 5689511
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       float64
dtypes: bool(2), float64(19), int64(22), object(18)
memory usage: 2.5+ GB

In [13]:
df4.head(1) #target = DepDel15 (float 0-1)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0

In [14]:
df4 = df4.sample(frac=0.1, random_state=42).reset_index(drop=True)
df4 = df4.rename(columns={"DepDel15":'target'})

#### df5

In [15]:
df5.info() #large df, we will take sample

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1635590 entries, 0 to 1635589
Data columns (total 20 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   is_delay           1635590 non-null  float64
 1   Year               1635590 non-null  int64
 2   Quarter            1635590 non-null  int64
 3   Month              1635590 non-null  int64
 4   DayofMonth         1635590 non-null  int64
 5   DayOfWeek          1635590 non-null  int64
 6   FlightDate         1635590 non-null  object
 7   Reporting_Airline  1635590 non-null  object
 8   Origin             1635590 non-null  object
 9   OriginState        1635590 non-null  object
 10  Dest               1635590 non-null  object
 11  DestState          1635590 non-null  object
 12  CRSDepTime         1635590 non-null  int64
 13  Cancelled          1635590 non-null  float64
 14  Diverted           1635590 non-null  float64
 15  Distance           1635590 non-null  float64
 16  DistanceGroup      1635590 non-null  int64
 17  ArrDelay           1635590 non-null  float64
 18  ArrDelayMinutes    1635590 non-null  float64
 19  AirTime            1635590 non-null  float64
dtypes: float64(7), int64(7), object(6)
memory usage: 249.6+ MB

In [16]:
df5.head(1) # target = is_delay (float)

,is_delay,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime
0,1.0,2014,1,1,1,3,2014-01-01,UA,LAX,CA,ORD,IL,900,0.0,0.0,1744.0,7,43.0,43.0,218.0

In [17]:
df5 = df5.sample(frac=0.1, random_state=42).reset_index(drop=True)
df5 = df5.rename(columns={"is_delay":'target'})

#### df6

In [18]:
df6.info() #large df, we will take sample

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6489062 entries, 0 to 6489061
Data columns (total 26 columns):
 #   Column                         Dtype
---  ------                         -----
 0   MONTH                          int64
 1   DAY_OF_WEEK                    int64
 2   DEP_DEL15                      int64
 3   DEP_TIME_BLK                   object
 4   DISTANCE_GROUP                 int64
 5   SEGMENT_NUMBER                 int64
 6   CONCURRENT_FLIGHTS             int64
 7   NUMBER_OF_SEATS                int64
 8   CARRIER_NAME                   object
 9   AIRPORT_FLIGHTS_MONTH          int64
 10  AIRLINE_FLIGHTS_MONTH          int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  int64
 12  AVG_MONTHLY_PASS_AIRPORT       int64
 13  AVG_MONTHLY_PASS_AIRLINE       int64
 14  FLT_ATTENDANTS_PER_PASS        float64
 15  GROUND_SERV_PER_PASS           float64
 16  PLANE_AGE                      int64
 17  DEPARTING_AIRPORT              object
 18  LATITUDE                       float64
 19  LONGITUDE                      float64
 20  PREVIOUS_AIRPORT               object
 21  PRCP                           float64
 22  SNOW                           float64
 23  SNWD                           float64
 24  TMAX                           float64
 25  AWND                           float64
dtypes: float64(9), int64(13), object(4)
memory usage: 1.3+ GB

In [19]:
df6.head(1) # target = DEP_DEL15 (int 0-1)

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91

In [20]:
df6= df6.sample(frac=0.1, random_state=42).reset_index(drop=True)
df6 = df6.rename(columns={'DEP_DEL15':'target'})

## Train test split

In [21]:
dataframes = [df1, df2, df3, df4, df5, df6]

for i, df in enumerate(dataframes):
    X = df.drop(columns=['target'])
    y = df['target']

    X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size=0.3, random_state=42)

    #saving splitted dataframes:
    train_folder ="../data/train"
    test_folder = "../data/test"

    #creating folders if they don;t exist
    if not os.path.exists(train_folder):
        os.makedirs(train_folder)
        print(f"Folder '{train_folder}' został utworzony.")

    if not os.path.exists(test_folder):
        os.makedirs(test_folder)
        print(f"Folder '{test_folder}' został utworzony.")

    #saving train X and Y to train folder and test X and Y to test folder
    X_train_file_path = os.path.join(train_folder, f'X{i+1}_train.csv')
    y_train_file_path = os.path.join(train_folder, f'y{i+1}_train.csv')
    X_test_file_path = os.path.join(test_folder, f'X{i+1}_test.csv')
    y_test_file_path = os.path.join(test_folder, f'y{i+1}_test.csv')

    X_train.to_csv(X_train_file_path, index=False)
    Y_train.to_csv(y_train_file_path, index=False)
    X_test.to_csv(X_test_file_path, index=False)
    Y_test.to_csv(y_test_file_path, index=False)