## Data loading

In [3]:
import pandas as pd

In [6]:
df1 = pd.read_csv("..//data//airlines_delay.csv")
df1

        Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0       2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1       6948.0   360.0   146.0      OO         COS       ORD          4      0
2       1247.0  1170.0   143.0      B6         BOS       CLT          3      0
3         31.0  1410.0   344.0      US         OGG       PHX          6      0
4        563.0   692.0    98.0      FL         BMI       ATL          4      0
...        ...     ...     ...     ...         ...       ...        ...    ...
539377  6973.0   530.0    72.0      OO         GEG       SEA          5      1
539378  1264.0   560.0   115.0      WN         LAS       DEN          4      1
539379  5209.0   827.0    74.0      EV         CAE       ATL          2      1
539380   607.0   715.0    65.0      WN         BWI       BUF          4      1
539381  6377.0   770.0    55.0      OO         CPR       DEN          2      1

[539382 rows x 8 columns]