In [1]:
import os
import pandas as pd
import kagglehub
import humanize

from sklearn.model_selection import train_test_split
from IPython.display import display, HTML

/opt/homebrew/Caskroom/miniconda/base/envs/automl/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data_dir = os.path.join(".", "..", "data")
datasets_dir = os.path.join(data_dir, "datasets")
train_dir = os.path.join(data_dir, "train")
test_dir = os.path.join(data_dir, "test")

os.makedirs(datasets_dir, exist_ok=True)
os.makedirs(train_dir, exist_ok=True)
os.makedirs(test_dir, exist_ok=True)

# Load Data

In [3]:
raw_datasets_paths = (
    kagglehub.dataset_download(
        "gabrielluizone/us-domestic-flights-delay-prediction-2013-2018"
    ),
    kagglehub.dataset_download("threnjen/2019-airline-delays-and-cancellations"),
    kagglehub.dataset_download("ulrikthygepedersen/airlines-delay"),
    kagglehub.dataset_download("robikscube/flight-delay-dataset-20182022"),
    kagglehub.dataset_download("mikhail1681/airline-quality-ratings"),
)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)

In [4]:
for dataset_path in raw_datasets_paths:
    print(
        "Dataset " + dataset_path[dataset_path.index("datasets/") + len("datasets/") :]
    )
    print("\t" + "\n\t".join(sorted(os.listdir(dataset_path))))

Dataset gabrielluizone/us-domestic-flights-delay-prediction-2013-2018/versions/3
	csv_flight
	flight_delay_predict.csv
Dataset threnjen/2019-airline-delays-and-cancellations/versions/9
	full_data_flightdelay.csv
	raw_data
	raw_data_documentation.txt
	test.csv
	train.csv
	train_sets_documentation.txt
Dataset ulrikthygepedersen/airlines-delay/versions/1
	airlines_delay.csv
Dataset robikscube/flight-delay-dataset-20182022/versions/4
	Airlines.csv
	Combined_Flights_2018.csv
	Combined_Flights_2018.parquet
	Combined_Flights_2019.csv
	Combined_Flights_2019.parquet
	Combined_Flights_2020.csv
	Combined_Flights_2020.parquet
	Combined_Flights_2021.csv
	Combined_Flights_2021.parquet
	Combined_Flights_2022.csv
	Combined_Flights_2022.parquet
	raw
	readme.html
	readme.md
Dataset mikhail1681/airline-quality-ratings/versions/1
	Airline Quality Ratings.csv

# Dataset creation

In [5]:
datasets_paths = (
    os.path.join(raw_datasets_paths[0], "flight_delay_predict.csv"),
    os.path.join(raw_datasets_paths[1], "full_data_flightdelay.csv"),
    os.path.join(raw_datasets_paths[2], "airlines_delay.csv"),
    os.path.join(raw_datasets_paths[3], "Combined_Flights_2022.csv"),
    os.path.join(raw_datasets_paths[4], "Airline Quality Ratings.csv"),
)

In [6]:
for i, dataset_path in enumerate(datasets_paths):
    df = pd.read_csv(dataset_path)
    original_shape = df.shape
    df = df.head(10**4)
    memory_usage = df.memory_usage(deep=True).sum()
    memory_usage_humanized = humanize.naturalsize(memory_usage)

    print(
        f"Dataset {i} - {df.shape[0]} x {df.shape[1]}. Space usage {memory_usage_humanized}. Original length is {original_shape[0]}."
    )
    df.to_csv(os.path.join(datasets_dir, f"dataset_{i}.csv"), index=False)

Dataset 0 - 10000 x 20. Space usage 4.8 MB. Original length is 1635590.
Dataset 1 - 10000 x 26. Space usage 4.8 MB. Original length is 6489062.
Dataset 2 - 10000 x 8. Space usage 2.2 MB. Original length is 539382.
Dataset 3 - 10000 x 61. Space usage 14.8 MB. Original length is 4078318.
Dataset 4 - 10000 x 24. Space usage 4.8 MB. Original length is 129880.

# Data loading and Analysis

For this task we will use 6 dataframes that include Airlines/Flight information. Each of them has a binary target variable. In the first part we will analyze the data, check column types, missing values, identify targets etc.

In [7]:
datasets = []

for i in range(len(datasets_paths)):
    df = pd.read_csv(os.path.join(datasets_dir, f"dataset_{i}.csv"))

    print("-" * 100)
    print(f"----> Dataset {i}")
    print("-" * 100)
    df.info()
    display(HTML(df.describe().to_html()))
    display(HTML(df.head(5).to_html()))

    datasets.append(df)

----------------------------------------------------------------------------------------------------
----> Dataset 0
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   is_delay           10000 non-null  float64
 1   Year               10000 non-null  int64
 2   Quarter            10000 non-null  int64
 3   Month              10000 non-null  int64
 4   DayofMonth         10000 non-null  int64
 5   DayOfWeek          10000 non-null  int64
 6   FlightDate         10000 non-null  object
 7   Reporting_Airline  10000 non-null  object
 8   Origin             10000 non-null  object
 9   OriginState        10000 non-null  object
 10  Dest               10000 non-null  object
 11  DestState          10000 non-null  object
 12  CRSDepTime         10000 non-null  int64
 13  Cancelled          10000 non-null  float64
 14  Diverted           10000 non-null  float64
 15  Distance           10000 non-null  float64
 16  DistanceGroup      10000 non-null  int64
 17  ArrDelay           10000 non-null  float64
 18  ArrDelayMinutes    10000 non-null  float64
 19  AirTime            10000 non-null  float64
dtypes: float64(7), int64(7), object(6)
memory usage: 1.5+ MB

----------------------------------------------------------------------------------------------------
----> Dataset 1
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   MONTH                          10000 non-null  int64
 1   DAY_OF_WEEK                    10000 non-null  int64
 2   DEP_DEL15                      10000 non-null  int64
 3   DEP_TIME_BLK                   10000 non-null  object
 4   DISTANCE_GROUP                 10000 non-null  int64
 5   SEGMENT_NUMBER                 10000 non-null  int64
 6   CONCURRENT_FLIGHTS             10000 non-null  int64
 7   NUMBER_OF_SEATS                10000 non-null  int64
 8   CARRIER_NAME                   10000 non-null  object
 9   AIRPORT_FLIGHTS_MONTH          10000 non-null  int64
 10  AIRLINE_FLIGHTS_MONTH          10000 non-null  int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  10000 non-null  int64
 12  AVG_MONTHLY_PASS_AIRPORT       10000 non-null  int64
 13  AVG_MONTHLY_PASS_AIRLINE       10000 non-null  int64
 14  FLT_ATTENDANTS_PER_PASS        10000 non-null  float64
 15  GROUND_SERV_PER_PASS           10000 non-null  float64
 16  PLANE_AGE                      10000 non-null  int64
 17  DEPARTING_AIRPORT              10000 non-null  object
 18  LATITUDE                       10000 non-null  float64
 19  LONGITUDE                      10000 non-null  float64
 20  PREVIOUS_AIRPORT               10000 non-null  object
 21  PRCP                           10000 non-null  float64
 22  SNOW                           10000 non-null  float64
 23  SNWD                           10000 non-null  float64
 24  TMAX                           10000 non-null  float64
 25  AWND                           10000 non-null  float64
dtypes: float64(9), int64(13), object(4)
memory usage: 2.0+ MB

----------------------------------------------------------------------------------------------------
----> Dataset 2
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Flight       10000 non-null  float64
 1   Time         10000 non-null  float64
 2   Length       10000 non-null  float64
 3   Airline      10000 non-null  object
 4   AirportFrom  10000 non-null  object
 5   AirportTo    10000 non-null  object
 6   DayOfWeek    10000 non-null  int64
 7   Class        10000 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

----------------------------------------------------------------------------------------------------
----> Dataset 3
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 61 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   FlightDate                               10000 non-null  object
 1   Airline                                  10000 non-null  object
 2   Origin                                   10000 non-null  object
 3   Dest                                     10000 non-null  object
 4   Cancelled                                10000 non-null  bool
 5   Diverted                                 10000 non-null  bool
 6   CRSDepTime                               10000 non-null  int64
 7   DepTime                                  9154 non-null   float64
 8   DepDelayMinutes                          9154 non-null   float64
 9   DepDelay                                 9154 non-null   float64
 10  ArrTime                                  9116 non-null   float64
 11  ArrDelayMinutes                          9104 non-null   float64
 12  AirTime                                  9104 non-null   float64
 13  CRSElapsedTime                           10000 non-null  float64
 14  ActualElapsedTime                        9104 non-null   float64
 15  Distance                                 10000 non-null  float64
 16  Year                                     10000 non-null  int64
 17  Quarter                                  10000 non-null  int64
 18  Month                                    10000 non-null  int64
 19  DayofMonth                               10000 non-null  int64
 20  DayOfWeek                                10000 non-null  int64
 21  Marketing_Airline_Network                10000 non-null  object
 22  Operated_or_Branded_Code_Share_Partners  10000 non-null  object
 23  DOT_ID_Marketing_Airline                 10000 non-null  int64
 24  IATA_Code_Marketing_Airline              10000 non-null  object
 25  Flight_Number_Marketing_Airline          10000 non-null  int64
 26  Operating_Airline                        10000 non-null  object
 27  DOT_ID_Operating_Airline                 10000 non-null  int64
 28  IATA_Code_Operating_Airline              10000 non-null  object
 29  Tail_Number                              9890 non-null   object
 30  Flight_Number_Operating_Airline          10000 non-null  int64
 31  OriginAirportID                          10000 non-null  int64
 32  OriginAirportSeqID                       10000 non-null  int64
 33  OriginCityMarketID                       10000 non-null  int64
 34  OriginCityName                           10000 non-null  object
 35  OriginState                              10000 non-null  object
 36  OriginStateFips                          10000 non-null  int64
 37  OriginStateName                          10000 non-null  object
 38  OriginWac                                10000 non-null  int64
 39  DestAirportID                            10000 non-null  int64
 40  DestAirportSeqID                         10000 non-null  int64
 41  DestCityMarketID                         10000 non-null  int64
 42  DestCityName                             10000 non-null  object
 43  DestState                                10000 non-null  object
 44  DestStateFips                            10000 non-null  int64
 45  DestStateName                            10000 non-null  object
 46  DestWac                                  10000 non-null  int64
 47  DepDel15                                 9154 non-null   float64
 48  DepartureDelayGroups                     9154 non-null   float64
 49  DepTimeBlk                               10000 non-null  object
 50  TaxiOut                                  9135 non-null   float64
 51  WheelsOff                                9135 non-null   float64
 52  WheelsOn                                 9116 non-null   float64
 53  TaxiIn                                   9116 non-null   float64
 54  CRSArrTime                               10000 non-null  int64
 55  ArrDelay                                 9104 non-null   float64
 56  ArrDel15                                 9104 non-null   float64
 57  ArrivalDelayGroups                       9104 non-null   float64
 58  ArrTimeBlk                               10000 non-null  object
 59  DistanceGroup                            10000 non-null  int64
 60  DivAirportLandings                       10000 non-null  int64
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 4.5+ MB

----------------------------------------------------------------------------------------------------
----> Dataset 4
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      10000 non-null  int64
 1   Gender                                  10000 non-null  object
 2   Age                                     10000 non-null  int64
 3   Customer Type                           10000 non-null  object
 4   Type of Travel                          10000 non-null  object
 5   Class                                   10000 non-null  object
 6   Flight Distance                         10000 non-null  int64
 7   Departure Delay                         10000 non-null  int64
 8   Arrival Delay                           9962 non-null   float64
 9   Departure and Arrival Time Convenience  10000 non-null  int64
 10  Ease of Online Booking                  10000 non-null  int64
 11  Check-in Service                        10000 non-null  int64
 12  Online Boarding                         10000 non-null  int64
 13  Gate Location                           10000 non-null  int64
 14  On-board Service                        10000 non-null  int64
 15  Seat Comfort                            10000 non-null  int64
 16  Leg Room Service                        10000 non-null  int64
 17  Cleanliness                             10000 non-null  int64
 18  Food and Drink                          10000 non-null  int64
 19  In-flight Service                       10000 non-null  int64
 20  In-flight Wifi Service                  10000 non-null  int64
 21  In-flight Entertainment                 10000 non-null  int64
 22  Baggage Handling                        10000 non-null  int64
 23  Satisfaction                            10000 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 1.8+ MB

# Identifying targets

In [8]:
datasets[0].rename(columns={"is_delay": "target"}, inplace=True)
datasets[1].rename(columns={"DEP_DEL15": "target"}, inplace=True)
datasets[2].rename(columns={"Class": "target"}, inplace=True)
datasets[3].rename(columns={"DepDel15": "target"}, inplace=True)
datasets[4].rename(columns={"Satisfaction": "target"}, inplace=True)

In [9]:
for i, dataset in enumerate(datasets):
    print(f"Dataset {i}")
    print(
        "\t"
        + "\n\t".join(
            [f"{k}\t{v}" for k, v in dataset["target"].value_counts().to_dict().items()]
        )
    )

Dataset 0
	0.0	6636
	1.0	3364
Dataset 1
	0	8333
	1	1667
Dataset 2
	0	10000
Dataset 3
	0.0	5048
	1.0	4106
Dataset 4
	Neutral or Dissatisfied	5689
	Satisfied	4311

In [10]:
datasets[0]["target"] = datasets[0]["target"].astype(bool)
datasets[1]["target"] = datasets[0]["target"].astype(bool)
datasets[2]["target"] = datasets[0]["target"].astype(bool)
datasets[3]["target"] = datasets[0]["target"].astype(bool)
datasets[4]["target"] = datasets[4]["target"].apply(lambda x: x == "Satisfied")

## Train test split

In [11]:
for i, dataset in enumerate(datasets):
    X = dataset.drop(columns=["target"])
    y = dataset["target"]

    X_train, X_test, Y_train, Y_test = train_test_split(
        X, y, test_size=0.25, random_state=42
    )

    X_train_file_path = os.path.join(train_dir, f"X{i}_train.csv")
    y_train_file_path = os.path.join(train_dir, f"y{i}_train.csv")
    X_test_file_path = os.path.join(test_dir, f"X{i}_test.csv")
    y_test_file_path = os.path.join(test_dir, f"y{i}_test.csv")

    X_train.to_csv(X_train_file_path, index=False)
    Y_train.to_csv(y_train_file_path, index=False)
    X_test.to_csv(X_test_file_path, index=False)
    Y_test.to_csv(y_test_file_path, index=False)